<!-- <form (ngSubmit)="onsubmit(mail.value)" *ngIf=!check&&extra>
    <label for="Enter Your Mail">Enter Your Mail-id</label><br>
    <input type="mail" placeholder="enter your mail" #mail>
    <button type="submit">submit</button>
</form> -->
<!-- otp form -->
<!-- <form (ngSubmit)="otpsubmit(otp.value)" *ngIf=check>
    <label for="enter your otp">Enter Your otp</label><br>
    <input type="text" placeholder="enter the otp" #otp><br>
    <p *ngIf=checkotp>Enter the correct otp</p>
    <button type="submit">submit</button>
</form>
<br>
<form *ngIf=newotp (ngSubmit)="passwordsubmit(password.value)">
    <label for="enter your password">Enter your password</label><br>
    <input type="password" placeholder="enter password" #password><br>
    <button type="submit">submit</button>
</form> -->
<!-- extra -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
       <span><a mat-button style="font-size: 35px;" href="/" >FLIPR</a></span>
       <span class="spacer"></span>
       <a mat-button routerLink="/register">Register</a>
    </mat-toolbar-row>
 </mat-toolbar>
<mat-toolbar>
    <span>Forgot Password</span>
  </mat-toolbar>
  <mat-card-content>
    <form class="my-form"  (ngSubmit)="onsubmit(mail.value)" *ngIf=!check&&extra>
           <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput type="mail" class="form-control" placeholder=" Your mail *"  #mail required>
           </mat-form-field>
                       <mat-card-actions>
                        <button mat-raised-button color="primary"  type="submit">submit</button>
              </mat-card-actions>
    </form>
    <!-- otp form -->
    <form class="my-form"  (ngSubmit)="otpsubmit(otp.value)" *ngIf=check>
        <mat-form-field class="full-width">
           <mat-label>OTP</mat-label>
           <input matInput type="text" class="form-control" placeholder=" Enter the otp *"  #otp required>
        </mat-form-field>
                    <mat-card-actions>
                     <button mat-raised-button color="primary"  type="submit">submit</button>
                     <br>
                     <p *ngIf=checkotp>Enter the correct otp</p>
           </mat-card-actions>
 </form>
 <!-- new password form -->
 <form class="my-form"  *ngIf=newotp (ngSubmit)="passwordsubmit(password.value)">
    <mat-form-field class="full-width">
       <mat-label>New Password</mat-label>
       <input matInput type="mail" class="form-control" placeholder=" Your password *" #password required>
    </mat-form-field>
                <mat-card-actions>
                 <button mat-raised-button color="primary"  type="submit">submit</button>
                 <p *ngIf=showupdate>your password has been updated</p>
       </mat-card-actions>
</form>
  </mat-card-content>
